* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* CONTAINERS */
.container-fluid {
	width: 100%;
}

.container {
	max-width: 100%;
	margin: 15px auto;
}

/* ROWS */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* [class*="col-"] {
	flex: 0 0 auto;
} */

/* COLUMNS */
.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

}
.col-1 {
	flex-basis: calc((100% / 12) * 1 - 2px );
	max-width: calc((100% / 12) * 1 - 2px );
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
	
}
.col-2 {
	flex-basis: calc((100% / 12) * 2 - 2px);
	max-width: calc((100% / 12) * 2 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-3 {
	flex-basis: calc((100% / 12) * 3 - 2px);
	max-width: calc((100% / 12) * 3 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-4 {
	flex-basis: calc((100% / 12) * 4 - 2px);
	max-width: calc((100% / 12) * 4 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-5 {
	flex-basis: calc((100% / 12) * 5 - 2px);
	max-width: calc((100% / 12) * 5 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-6 {
	flex-basis: calc((100% / 12) * 6 - 2px);
	max-width: calc((100% / 12) * 6 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-7 {
	flex-basis: calc((100% / 12) * 7 - 2px);
	max-width: calc((100% / 12) * 7 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-8 {
	flex-basis: calc((100% / 12) * 8 - 2px);
	max-width: calc((100% / 12) * 8 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-9 {
	flex-basis: calc((100% / 12) * 9 - 2px);
	max-width: calc((100% / 12) * 9 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-10 {
	flex-basis: calc((100% / 12) * 10 - 2px);
	max-width: calc((100% / 12) * 10 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-11 {
	flex-basis: calc((100% / 12) * 11 - 2px);
	max-width: calc((100% / 12) * 11 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}
.col-12 {
	flex-basis: calc((100% / 12) * 12 - 2px);
	max-width: calc((100% / 12) * 12 - 2px);
	background-color: dodgerblue;
	height: 50px;
	margin: 1px 1px;
}

/* OFFSET */
.col-offset-1 {
	margin-left: calc((100% / 12) * 1);
}
.col-offset-2 {
	margin-left: calc((100% / 12) * 2);
}
.col-offset-3 {
	margin-left: calc((100% / 12) * 3);
}
.col-offset-4 {
	margin-left: calc((100% / 12) * 4);
}
.col-offset-5 {
	margin-left: calc((100% / 12) * 5);
}
.col-offset-6 {
	margin-left: calc((100% / 12) * 6);
}
.col-offset-7 {
	margin-left: calc((100% / 12) * 7);
}
.col-offset-8 {
	margin-left: calc((100% / 12) * 8);
}
.col-offset-9 {
	margin-left: calc((100% / 12) * 9);
}
.col-offset-10 {
	margin-left: calc((100% / 12) * 10);
}
.col-offset-11 {
	margin-left: calc((100% / 12) * 11);
}
.col-offset-12 {
	margin-left: calc((100% / 12) * 12);
}