/* Utility */

.h-test{
    height: 25px;
}

.t-align-c{
    text-align: center;
}

.hpad-2{
    padding: 0 2px;
}

.white{
    color: white;
}

.bg-green{
    background-color: green;
}

.flex{
    display: flex;
}
.align-c{
    align-items: center;
}
